{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3>

        <h4>Add a New Entry:</h4>

        <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Add Entry</button>
        </form>
    </div>
{% endblock content %}
